In [1]:
#pip install mysql-connector-python

In [2]:
import mysql.connector as sql

In [3]:
krishna=sql.connect(host="localhost",port=3306,user="root",password="root",db="we10")

In [4]:
car=krishna.cursor()

In [5]:
car.execute("show tables")

In [6]:
for i in car:
    print(i)

('college',)
('counting',)
('eb',)
('hostel',)
('library',)
('pg',)
('timetable',)

In [7]:
car.execute("select * from counting")

In [8]:
for i in car:
    print(i)

('Krishna', 'Ram', 'Sita', 'Ballia,UP')
('Krishna', 'Sunil', 'Suman', 'Ballia,UP')
('Vishnu', 'Sunil', 'Suman', 'Ballia,UP')

In [9]:
car.execute("select * from eb")

In [10]:
for i in car:
    print(i)

(8700103696, 'Krishna', 5000.78, 1234567890321, 'EVCPK3245K')
(32423, 'a', 342.0, 2314234, 'EVCPK3245K')
(46556, 'b', 4324.54, 123143, 'EVCPK3245K')
(3247623, 'c', 2000.0, 234314234, 'DFS65345h')
(4655326, 'd', 2000.0, 123143, 'DSF32454J')

In [11]:
car.execute("desc eb")

In [12]:
for i in car:
    print(i)

('ac_no', b'bigint', 'YES', '', None, '')
('name', b'varchar(100)', 'YES', '', None, '')
('bill', b'float', 'YES', '', None, '')
('aadhar_card', b'bigint', 'YES', '', None, '')
('pencard', b'char(10)', 'YES', '', None, '')

In [13]:
car.execute("select * from eb order by bill desc limit 1,1")

In [14]:
for i in car:
    print(i)

(46556, 'b', 4324.54, 123143, 'EVCPK3245K')

In [15]:
car